
@font-face {
	font-family: 'Conv_8143';
	src: url('fonts/8143.eot');
	src: local('☺'), url('fonts/8143.woff') format('woff'), url('fonts/8143.ttf') format('truetype'), url('fonts/8143.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.row {
    display: flow-root;
  }

body {
    background-color: white;
    width:1800px;
    height:1080px;
}
ul {
    float:right;
    width: 99%;
    margin-top: -11px;
    display: block;
    margin-bottom: -152px;
}
ul .ullisteducation {
    margin-bottom: 1px;
}
article {
width: 429px;
height: 57px;
color: #3d6cb0;
font-family: "Myriad Pro";
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
float: right;
margin-right: 30%;
}
li {font-size: 29px;width: 100%;height: 57px;color: #3d6cb0;font-size: 16px;font-size: 25px;font-weight: 600;text-transform: uppercase;float:left;margin-left: -40px;margin-bottom: 17%;position: relative;width: 100%;padding-top: 1px;}
.circle {
    width: 31%;
    margin-left: 72.8%;
    margin-top: 40px;
    background: #3d6cb0;
    border-radius: 74%;
    float: center;
    border: 15px double;
}
.circle::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    padding-left: 10%;
}

.p_text {
    width: 470px;
    height: 40px;
    color: #020202;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400;
    }
    .p_text2 {
    width: 470px;
    height: 102px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 10px;
    font-weight: 400;
    word-wrap: break-word;
    }
.p_experience {
margin-top: 30px;
}
header {background-color: aqua;
height: 200px;
margin-bottom: 10px;
}
content {
min-height: 500px;
width: 40%;
float: left;
}
.sidebar {                                       /*--------- ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â²ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂµÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂµÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â·ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â° ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â²ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº------------*/width: 44%;float: right;min-height: 500px;margin-right: 60px;margin-top: -11px;}
footer {
    background-color: aqua;
    height: 200px;
    margin-top: 10px;
    }
    .username {
        margin-top: 3%;
        margin-left: 57%;
        width: 471px;
        height: 40px;
        color: #020202;
        font-family: "Myriad Pro";
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .nameherestyle {
        width: 286px;
        height: 47px;
        color: #000000;
        font-family: "Myriad Pro - Light Semi Ext";
        font-size: 49px;
        font-weight: 400;
        margin-left: 89px;
        margin-bottom: -43px;
        display: inline-block;
    }
    .surnamestyle {
        width: 548px;
        height: 23px;
        color: #000000;
        font-family: "Myriad Pro - Light Semi Ext";
        font-size: 59px;
        font-weight: 600;
        margin-left: 90px;
    }
    .graphdesignerstyle {
        width: 548px;
        height: 74px;
        color: #000000;
        font-family: "Myriad Pro - Light Semi Ext";
        font-size: 24px;
        font-weight: 600;
        margin-left: 109px;
    }
    .profile {
    margin-top: 175px;
    margin-left: 174px;
    padding-left: 37%;
    width: 723px;
    height: 30px;
    color: #020202;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 400;
    display: block;
    }
    .profile span {
    font-weight: 900;
    }
    .profile strong {
    font-family: "Myriad Pro";
    font-size: 30px;
    font-weight: 700;
    color: #3d6cb0;
    }
    .contact {

margin-top: 336px;

margin-left: 61%;

display: block;

}
    .contact strong {color: #3d6cb0;font-family: "Myriad Pro";font-size: 33px;font-weight: 700;text-transform: uppercase;}
    .contact strong.title {
        margin-top: 70%;
        margin-left: none;
        width: 429px;
height: 57px;
color: #3d6cb0;
font-family: "Myriad Pro";
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
    }
    .software {
display:inline;
    }
    .software strong {
     margin-bottom: 10%;
     height: 57px;
     width: 55px;
     color: #3d6cb0;
     font-family: "Myriad Pro";
     font-size: 20px;
     font-weight: 700;
     text-transform: uppercase;
    }
    .skills strong {
        min-height: 200px;
        width: 500px;
        color: #3d6cb0;
     font-family: "Myriad Pro";
     font-size: 20px;
     font-weight: 700;
     text-transform: uppercase;
    }
    .skills {
        height: 162px;
        width: 500px;
        margin-left: 62%;
        font-size: 20px;
        margin-top: -64px;
    }
    .sidebar {
        margin-left:0 auto;
    }
    h2 {
        color:#3d6cb0;
        margin-left: -67px;
        display: inline-block;
    }
    .educationimg {
        margin:20px;
        width: 78px;
height: 73px;
    }
    .educationline {
        overflow: hidden;
    }
    .educationline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }

    .experienceimg {
        margin:20px;
        width: 78px;
height: 73px;
    }
    .experienceline {
        overflow: hidden;
    }
    .experienceline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }
    .softwareimg {
        margin:20px;
        width: 78px;
height: 73px; 
    }
    .softwareline {
        overflow: hidden;
    }
    .softwareline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }
    .profileimg {
        margin: 21px;
        margin-left:-20px;
        width: 78px;
        height: 73px;
    }
    .profileline {
        overflow: hidden;
    }
    .profileline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }
    .contactimg {
        margin:20px;
        margin-left:-20px;
        width: 78px;
height: 73px; 
    }
    .contactline {
        overflow: hidden;
    }
    .contactline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }
    .skillsimg {
        margin:20px;
        margin-left:-20px;
        width: 78px;
height: 73px;   
    }
.skillsline {
    overflow: hidden;
}
.skillsline::after {
    content: '';
    display:inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 223px;
    height:3px;
    background:#3d6cb0;
    border: solid #fff;
    border-width: 0 10px;
    margin-right: -100%;
}
.photoshopstyle {
width: 429px;
height: 57px;
color: #000000;
font-family: "Myriad Pro";
font-size: 25px;
font-weight: 400;
text-transform: uppercase;
float: right;
margin-bottom: -10px;
}
.photoshopplace {
    width: 200px;
}
.dreamweaverstyle {
    width: 429px;
    height: 57px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    margin-bottom: -10px;
}
.dreamweaverplace {
    margin-left: -100px;
}
.illustratorstyle {
    width: 429px;
    height: 57px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    float: right;   
    margin-bottom: -10px;
}
.effectsstyle {
    width: 429px;
    height: 57px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    margin-bottom: -10px;
}
.indesignstyle {
    width: 429px;
    height: 57px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    margin-bottom: -10px;
}
.htmlcssstyle {
    width: 429px;
    height: 57px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    margin-bottom: -10px;
}
.progress-bar {
	width: 296px;
	background-color: #e0e0e0;
	padding: 1px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
	height: 25px;
}

.progress-bar-fill {
	display: block;
	height: 32px;
	background-color:#3d6cb0;
	border: 3px;
	transition: width 500ms ease-in-out;
}

.dreamweaver_bar {
padding-bottom: 30px;
display:block;
text-align: auto;
}
.table {width: 10px;height:30px;border-color: white;padding: 0 0;border-spacing: 0 0;}

.circlebar {
    height: 16px;
    width: 15px;
    border-radius: 50px;
    background: radial-gradient(#3d6cb0, #3d6cb0);
    margin-left: 15px;
    margin-top: -30px;
    display:inline-block;
    padding: 1px;
}
.circlebargrey {
    height: 16px;
    width: 14px;
    border-radius: 84px;
    background: radial-gradient(lightgrey, lightgrey);
    margin-left: 13px;
    margin-top: -47px;
    display:inline-block;
    padding: 0;
}
.circles {
    
margin-left: 485px;
    
width: 530px;
}
.teamworkplace {
    display: flex;
    margin-left: 110px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 113px;
}
.innovateplace {
    display: flex;
    margin-left: 110px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 113px;
}
.communicationplace {
    display: flex;
    margin-left: 110px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 113px;
}

.creative {
    display:flex;
    font-size: 20px;
    font-weight: 600;
    margin-top: -19px;
    margin-left: 113px;
}
h2 .hexperience {
    max-height: 200px;
}
.experienceblock {
    margin-top: 10px;
}
/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â´ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂµÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â² ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂµÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â° http://dimox.name/verstka-zagolovka-s-gorizontalnoj-liniej-sleva-i-sprava-ot-teksta/*/-->