.row {
    display: flow-root;
  }

body {
    background-color: white;
}
ul {
    float:right;
}
ul .ullisteducation {
    margin-bottom: 1px;
}
article {
width: 429px;
height: 57px;
color: #3d6cb0;
font-family: "Myriad Pro";
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
float: right;
margin-right: 30%;
}
li {
width: 429px;
height: 57px;
color: #3d6cb0;
font-family: "Myriad Pro";
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
float:left;
margin-right: 20%;
margin-bottom: 15%;
}
.circle {
    width: 10em; 
    margin-left: 20%;
    background: #3d6cb0;
    border-radius: 70%;
    float: center;
    border: 15px double;

}
.circle::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    padding-left: 10%;
}

.p_text {
    width: 470px;
    height: 40px;
    color: #020202;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400;
    }
    .p_text2 {
    width: 470px;
    height: 102px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 10px;
    font-weight: 400;
    word-wrap: break-word;
    }
.p_experience {
margin-top: 30px;
}
header {background-color: aqua;
height: 200px;
margin-bottom: 10px;
}
content {
min-height: 500px;
width: 40%;
float: left;
}
sidebar {
width: 60%;
float: left;
min-height: 500px;
margin-left:auto;
}
footer {
    background-color: aqua;
    height: 200px;
    margin-top: 10px;
    }
    .username {
        margin-top: 5%;
        margin-left: 20%;
        width: 470px;
    height: 40px;
    color: #020202;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400;
    }
    .profile {
    margin-top: 158px;
     padding-left: 15%;
    width: 723px;
    height: 30px;
    color: #020202;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400;
    display: block;
    }
    .profile span {
    font-weight: 900;
    }
    .profile strong {
    font-family: "Myriad Pro";
    font-size: 30px;
    font-weight: 700;
    color: #3d6cb0;
    }
    .contact {

        margin-top: 420px;
        margin-left: 15%;
        display: block;
    }
    .contact strong {
color: #3d6cb0;
font-family: "Myriad Pro";
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
    }
    .contact strong.title {
        margin-top: 70%;
        margin-left: none;
        width: 429px;
height: 57px;
color: #3d6cb0;
font-family: "Myriad Pro";
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
    }
    .software strong {
     margin-bottom: 10%; 
     height: 57px;
     color: #3d6cb0;
     font-family: "Myriad Pro";
     font-size: 20px;
     font-weight: 700;
     text-transform: uppercase;
    }
    .skills strong {
        min-height: 200px;
        width: 500px;
        color: #3d6cb0;
     font-family: "Myriad Pro";
     font-size: 20px;
     font-weight: 700;
     text-transform: uppercase;
    }
    .skills {
        min-height: 200px;
        width: 500px;
        margin-left: 15%;
        font-size: 20px;
    }
    .sidebar {
        margin: 5px;
    }
    h2 {
        color:#3d6cb0;
    }
    .educationimg {
        margin:20px;
        width: 78px;
height: 73px;
    }
    .educationline {
        overflow: hidden;
    }
    .educationline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }

    .experienceimg {
        margin:20px;
        width: 78px;
height: 73px;
    }
    .experienceline {
        overflow: hidden;
    }
    .experienceline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }
    .softwareimg {
        margin:20px;
        width: 78px;
height: 73px; 
    }
    .softwareline {
        overflow: hidden;
    }
    .softwareline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }
    .profileimg {
        margin:20px;
        margin-left:-20px;
        width: 78px;
height: 73px; 
    }
    .profileline {
        overflow: hidden;
    }
    .profileline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }
    .contactimg {
        margin:20px;
        margin-left:-20px;
        width: 78px;
height: 73px; 
    }
    .contactline {
        overflow: hidden;
    }
    .contactline::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 223px;
        height:3px;
        background:#3d6cb0;
        border: solid #fff;
        border-width: 0 10px;
        margin-right: -100%;
    }
    .skillsimg {
        margin:20px;
        margin-left:-20px;
        width: 78px;
height: 73px;   
    }
.skillsline {
    overflow: hidden;
}
.skillsline::after {
    content: '';
    display:inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 223px;
    height:3px;
    background:#3d6cb0;
    border: solid #fff;
    border-width: 0 10px;
    margin-right: -100%;
}
.progress-bar {
	width: 200px;
	background-color: #e0e0e0;
	padding: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
	display: block;
	height: 32px;
	background-color: #659cef;
	border: 3px;
	transition: width 500ms ease-in-out;
}

.dreamweaver_bar {
padding-bottom: 30px;
display:block;
text-align: auto;
}
.table {
border:0;
width:30px;
height:30px;
border-color: white;
}
/*чтобы сделать линии справ от текста http://dimox.name/verstka-zagolovka-s-gorizontalnoj-liniej-sleva-i-sprava-ot-teksta/*/